<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<link rel="stylesheet" href="style.css"> 
</head>

<div class="container" style="background: url(/static/img/pics/a.jpg) fixed;background-size:cover;width:100vw;height:56.25vw;">
	<div class="cardContainer">
		<img src="/static/img/logo.png" style="width:20vw;opacity:.75;padding:0 2.5vw;">
		<a href="userLogin" style="text-decoration:none">
			<div class="gettingStarted">Log In</div>
		</a>
		<a href="userRegistration" style="text-decoration:none">
			<div class="gettingStarted">Sign Up</div>
		</a>
	</div>	
</div>

<style>
.gettingStarted{
	width:90%;
	background-color:rgb(120,80,60,.2);
	color:rgb(240,240,160,0.9);
	margin:5%;
	padding:1vw 0vw;
	opacity:.75;
	border-radius:1.5vw;
	font-size:1.5vw;
	text-decoration:none;
	border-width:1px;
	border-style:solid;
	border-color:rgb(10,10,10,.5);
	box-shadow:0px 2px 2px black;	
}

.cardContainer{
	position:absolute;
	left:65vw;
	top:5vw;
	width:25vw;
	text-align:center;
	padding:3vw 2vw;
	border-radius:1.5vw;
	background-color:rgb(10,10,10,.3);
}
</style>
